<div>
    {{#each compendiums}}
        <input type="checkbox" id="{{id}}" name="compendium" value="{{id}}" {{isChecked checked}}>
        <label for="{{id}}">{{name}}</label>
        <br>
    {{/each}}
</div>